.radios label {
    margin-right: 10px;
}

.radios input {
    margin-right: 2px;
}

.form-headings {
    margin-bottom: 5px;
    font-weight: 700;
}

.editButtons {
    text-align: center;
}

.column-edit {
    float: left;
    width: 50%;
    padding: 2em;
    height: 500px;
}

#save {
    margin: 5px;
    width: 100px;
}

#cancel {
    width: 100px;
}