#search-input{
    width: 250px;
    float: right;
    margin-top: 50px;
    margin-right: -95px;
    margin-bottom: 50px;
}
#add-new{
    width: 100px;
    float: left;
    margin-top: 50px;
    margin-left: -90px;
    margin-bottom: 50px;
}
table{
    margin-left: -90px;
    margin-right: -90px;
    width: 1300px;
    font-size: 15px;
}

